*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  background-color: hsl(0, 0%, 98%);
  padding: 0 24px;
  margin: 48px 0;
  text-align: center;
}
.pc_nav,
.main_nav {
  display: none;
}
.active {
  display: inline-block;
  pointer-events: auto;
  position: absolute;
  top: 120px;
  left: 5%;
  right: 5%;
  border-radius: 8px;
  background-color: white;
  padding: 40px 0;
  border-radius: 8px;
  text-align: center;
  z-index: 3;
  height: 300px;
}

.page_buttons {
  border-radius: 24px;
  background-color: hsl(12, 88%, 59%);
  color: white;
  border: 0 solid transparent;
  width: 50%;
  height: 50px;
  font-weight: 700;
  box-shadow: 0px 6px 4px 2px hsl(12, 88%, 80%);
}
.nav_flex {
  display: flex;
  justify-content: space-between;
}
.mobile_nav {
  border: 0 solid transparent;
  background-color: transparent;
}

section {
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
h1,
h2,
h4 {
  color: hsl(228, 39%, 23%);
}
p {
  color: hsla(233, 12%, 13%, 0.5);
  line-height: 1.6;
}
.ul_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  align-content: center;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: 700;
}
.bullets {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.bullet-header {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: hsl(13, 100%, 96%);
  border-radius: 20px 0 0 20px;

  margin-right: -24px;
}
.number {
  color: white;
  background-color: hsl(12, 88%, 59%);
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: 700;
}
.bullet-header h4 {
  font-size: 16px;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

.card {
  background-color: hsl(0 0% 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 70px 14px 32px 14px;
  margin: 20px 0;
  position: relative;
}
.card > img {
  height: 96px;
  width: 96px;
  position: absolute;
  top: -40px;
}


@media (min-width: 768px) {
  .bullet-header {
    background-color: transparent;
    margin-right: 0;
  }

  .bullet-desc {
    margin-left: 80px;
  }
}
